.link {
  a {
    display: inline-block;
    width: 100px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    color: #a0a0a0;
  }

  i {
    color: #a0a0a0;
    margin-right: 3px;
  }

  div {
    color: #333;
  }
}

