@import '../../../node_modules/@alifd/next/variables';

.paginationWrap {
  margin-top: 15px;
  width: 100%;
  text-align: right;
}
.searchWrap {
  margin: 10px 0 0 20px;
}
.search {
  width: 350px;
}
