@import '../../../../../../node_modules/@alifd/next/variables';

.searchWrap {
  width: 100%;
  text-align: right;
  margin: 10px 15px 15px 0;
}
.search {
  width: 350px;
}
.paginationWrap {
  margin-top: 15px;
  width: 100%;
  text-align: right;
}
.spanRight {
  float: right;
}
.workStatus {
  color: #06c;
}
.deviceStatus {
  color: #999;
}
.cardContent {
  font-size: 16px;
  margin: 10px 20px;
}

.titleBg {
  background: url("../../../../../static/images/cardHouse.png") no-repeat top right;
  background-size: 36%;
}

.popupBg {
  color: #fff;
  background-color: rgba(60, 60, 60, 0.7);
}

.popupBg :global(.next-balloon-normal .next-balloon-close) {
  color: #fff;
}

.popupBg :global(.next-balloon-normal.next-balloon-top-right:after) {
  display: none;
}

.warningTime {
  padding-top: 10px;
  padding-bottom: 3px;
  text-align: center;
}

.warningInfo {
  padding-left: 10px;
  text-align: center;
  padding-bottom: 20px;
}

.cardWarp :global(.next-card-content-container) {
  margin-top: 0;
}
