
.contentTopWrap {
  background-color: #fff;
  height: 50px;
  width: 100%;
}
.contentWrap {
  overflow: hidden;
  background-color: #fff;
  height: 300px;
  width: 100%;
}
.imgDiv {
  text-align: center;
  width: 100%;
  margin: 10px 0 0 10px;
}
.textWrap {
  margin: 25px 35px 0 35px;
}
.spanRight {
  float: right;
}
.warningSpan {
  margin: 10px;
  bottom: 4px;
  position: relative;
}
.warningWrap {
  height: 120px;
}
.infoWrap {
  position: relative;
  top: 35px;
}
.warningDiv {
  margin: 30px;
}

